
.my_question_flame {
    border : 2px groove black;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.my_answer_flame {
    border : 1px groove black;
    border-radius: 5px;
}

.simple_quiz_top_next_btn {
    transition: 0.2;
}

.simple_quiz_top_next_btn:hover {
    scale: 1.1;
}

#question_text {
    font-size: 1.2rem;
}

#answer_text {
    font-size: 1.6rem;
    font-weight: bold;
    color: #b94047;
}

.simple_quiz_btn button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.2s ease-in-out;
    font-weight: 600;
    background: #b94047;
    border-radius: 30px;
    border : solid 1px black;
    border-bottom: solid 5px #682e31;
}

.simple_quiz_btn button:hover {
    border-bottom: solid 2px #682e31;
    transform: translateY(3px);
}

@keyframes fade-in {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}


#result_info_container {
    border: 2px #b94047 solid;
    border-radius: 5px;
    background-color: #b94047;
}

#seitouritu {
    border-bottom: white 2px solid;
} 

.my_simple_question_history_flame {
    border-bottom: black 2px outset;
    border-right: black 2px outset;
    border-top: black 3px outset;
    border-left: black 3px outset;

    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}

.result_top_info {
    border : white 2px solid;
    border-radius: 5px;
}