.my_question_flame {
    border : 2px groove black;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}


.my_question_flame:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.my_question_textarea {
    border : none;
    resize: none;
    background-color: white;
}

.my_question_card_hensyu_btn:focus,
.my_question_card_hensyu_btn:active {
    outline: none;
    box-shadow: none;
}

.manager_title {
    margin-left : 1rem;
    border-bottom: 2px solid rgba(150, 150, 150, 0.527);
    
}

.page-item.active .page-link {
    color: white;
    background-color: #b94047;
}

.page-item .page-link:focus {
    outline: none;
}

.page-link {
    color: #b94047;
    font-weight: bold;
}

#cards_display_row {
    background-color: #dcd6d9;
    border: solid #dcd6d9 2px;
    border-radius: 10px; 
    /* background-image: url('/static/img/flame1.png'); */
    /* background-size: contain; */
}

.modal-dialog {
    border: solid 2px black;
}
