html, body {
    /* min-height: 100%; */
    min-height: 100vh;
    margin : 0px;
}

.mybg-primary {
    background-color: white;
}

.mybg-secondary {
    background-color: #b94047;
}

.mytext-primary {
    color : #b94047;
}

.mytext-secondary {
    color: white;
}

.myborder-primary {
    border : 2px solid;
    border-color: #b94047;
    padding : 2px;
}

.hover_up_btn:hover {
    scale: 1.1;
}
