    <div class="">
        <nav class="navbar navbar-expand-sm navbar-dark mt-1 mt-0">
            <div>
            <img src="static/img/brand_128.jpeg" width="50" height="50" class="d-inline-block align-top" alt="Logo">
            <a class="navbar-brand " href="#" id="brand">
                MyQuiz
            </a>
        </div>
            <div class="collapse navbar-collapse justify-content-center">
                <ul id="nav_left" class="nav nav-pills my_header_container">
                    <li class="nav-item">
                        <a class="nav-link active my_header_item_active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">クイズ管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">新規クイズ作成</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse justify-content-end">
                <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                        <a id="account_dropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                            role="button" aria-expanded="false">AccountName</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Action</a></li>
                            <li><a class="dropdown-item">Action2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <script src="./static/component/header/header.js"></script>
        <link rel="stylesheet" href="./static/component/header/header.css">
    </div>
    <hr id="nav_underline">
